target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.config
dependency-reduced-pom.xml
buildNumber.config
.mvn/timing.config
.mvn/wrapper/maven-wrapper.jar

.settings/
.project
.classpath
.vscode/
.idea/

/backend.log
/backend.pid
/.java-version
.m2/
/data
